<#@ template language="C#" #>
ShotView Export File: <#= _shotSession.FileName #>
Session Date: <#=
                    _shotSession.SessionTimestamp.ToString("O") #>
Notes:
<#= _shotSession.Notes #>

Number of Shots: <#= _shotSession.ShotCount #>
Average Velocity: <#= _shotSession.AverageSpeed #>
Std Dev: <#= _shotSession.StandardDeviation #>
ES: <#= _shotSession.ExtremeSpread #>

