<#@ template language="C#" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
ShotView Export File: <#=_shotSession.FileName #>
Session Date: <#= _shotSession.SessionTimestamp.ToString("O")#>
Notes:
<#= _shotSession.Notes #>

Number of Shots: XX
Average Velocity: 9999 fps
Std Dev: 99 fps
ES: 99 fps

