._*
/code/.DS_Store
/LBR/.DS_Store
/code/cli/bin/mlrb.exe
/code/cli/mlrb.exe
/code/cli/bin/mlrb.toml
/code/cli/bin/mlrb
.DS_Store
/data/mlrb.exe
/bin/mlrb.exe
/code/cli/output
/bin
/data/mlrb.db3
/data/mlrb
/data/mlrb.toml
/code/cli/mage_output_file.go